@font-face {
    font-family: 'amazon';
    src: url(Amazon\ Ember.ttf) format('truetype');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'amazon';
    color: white;
}
body{
    background-color: rgb(234,237,237);
}
nav{
    background-color: rgb(19,25,33);
    height: 10vh;
    max-width: 100vw;
    display: flex;
    gap: 30px;
    align-items: center;
}
.location{
    height: 30px;
    width: 23px;
}
.deliver{
    display: flex;
}
.delivertext p{
    font-size: 12px;
    line-height: 14px;
    color: rgb(204,204,204);
    font-weight: 400;
}
.delivertext h6{
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}
.searchbar{
    display: flex;
    align-items: center;
    max-width: 700px;
}
.searchbar select{
    color: rgb(85,85,85);
    width: 50px;
    outline: none;
    display: block;
    padding: 2px;
    font-size: 13px;
    background-color: rgb(243,243,243);
    height: 47px;
    line-height: 35px;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    left: 4px;
}
.searchbar select:focus-within{
    width: fit-content;
}
.searchbar input{
    width: 600px;
    line-height: 43px;
}
.search{
    height: 46px;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    right: 1px;
    bottom: px;
}
.lang{
    display: flex;
    flex-direction: column;
}
.searchbar option{
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.lang p{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}
.langpic{
    height: 20px;
    width: 30px;
}
.norm{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}
.bold{
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}
.cart{
    display: flex;
    align-items: center;
}
.belownav{
    background-color: rgb(35,47,62);
    display: flex;
    align-items: center;
    gap: 50px;
    height: 5vh;
    padding-left: 10px;
}
.menu{
    display: flex;
    align-items: center;
}
.belownav .menu p{
    font-size: 14px;
    line-height: 12px;
    font-weight: 700;
}
.belownav p{
    font-size: 14px;
    line-height: 12px;
    font-weight: 400;
}
.hero{
    background-image: url(61DUO0NqyyL._SX3000_.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.hero{
    display: flex;
    gap: 20px;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: white;
    width: 312.5px;
    height: 420px;
}
.cards:nth-child(1){
    width: 322.5px;
}
.items{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}
.itempic{
    width: 155.73px;
    height: 105.84px;
}
.itempic1{
    width: 120px;
    height: 100px;
}
.item p{
    text-align: center;
}
.cardtext{
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
    color: rgb(0,113,133);
}
.cards, .cards1{
    position: relative;
    top: 245px;
    left: 15px;
}
.ship{
    width: 300px;
    height: 250px;
}
.top1{
    background-color: white;
    width: 312.25px;
    height: 150px;
    padding-top: 20px;
    padding-left: 15px;
}
.securely{
    padding: 3px;
    background-color: rgb(255,216,20);
    border-radius: 10px;
}
.top1 h1{
    color: rgb(15,17,17);
    text-align: left;
    font-size: 21px;
    line-height: 27.3px;
    font-weight: 700;
    margin-bottom: 20px;

}
.cards1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 322.5px;
    height: 420px;
}
.cards2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    width: 322.5px;
    height: 420px;
    padding: 20px 15px;
}
.cards2pic{
    width: 272.25px;
    height: 303.7px;
}
.firstsec{
    display: flex;
    margin-left: 15px;
    margin-top: 30px;
    gap: 20px;
}
.secondsec{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.cards3{
    margin: 0px auto;
    width: 1309px;
    display: flex;
    gap: 20px;
    padding: 20px 50px; 
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
}
.cards3 h1 a{
    font-size: 14px;
    line-height: 35px;
    font-weight: 400;
    color: rgb(0,113,133);
    text-decoration:  none;
    margin-left: 30px;
}
.cards3 h1 a:hover{
    text-decoration: underline;
}
.scrollimages{
    display: flex;
    gap: 20px; 
    max-width: 100%;
    overflow-x: scroll;
}
.cards3 h1{
    font-size: 21px;
    line-height: 31.5px;
    font-weight: 700;
    color: rgb(15,17,17);
}
.scrollimg{
    width: 133px;
    height: 200px;
}
.scrollimg1{
    width: 207px;
    height: 200px;
}
.scrollimages{
    width: 100vw;
}
.yoga{
    position: relative;
    bottom: 30px;
    width: 90%;
    height: auto;
}
.cardtext1{
    position: relative;
    bottom: 25px;
    font-size: 13px;
    line-height: 19px;
}
.cardtext2{
    position: relative;
    bottom: 60px;
    color: black;
}
.cardtext:hover, .cardtext1:hover{
    color: rgb(199, 81, 31);
    text-decoration: underline;
    text-decoration-color:black;
}
.cards h1, .cards2 h1, .cards5 h1{
    font-size: 21px;
    line-height: 27.3px;
    font-weight: 700;
    color: rgb(15,17,17);
}
.cards p, .cards5 p{
    font-size: 12px;
    line-height: 18px;
    color: rgb(15,17,17);
    font-weight: 400;
}
.bhero{
    height: 100vh;
}
.thirdsec{
    display: flex;
    margin-left: 15px;
    gap: 20px; 
}
.scrollimg2{
    width: 180px;
    height: 200px;
}
.cards5{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: white;
    width: 312.5px;
    height: 420px;
}
footer{
    height: 130vh;
    padding-top: 40px;
}
.back{
    background-color: rgb(55,71,90);
    -width: 1349px;
    height: 49px;
    padding: 15px 0px;
    text-align: center;
}
.back a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
}
.back:hover{
    background-color: rgb(68, 87, 110);
}
.about{
    background-color: rgb(35,47,62);
    display: grid;
    grid-template-rows: repeat(1,fr);
    padding-left: 150px;
    padding-top: 40px;
    height: 75vh;
}
.aboutcont{
    border-bottom: 1px solid rgb(132,134,136);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 55vh;
}
.abouttext p:nth-child(1){
    font-size: 16px;
    line-height: 16.8px;
    font-weight: 700;
    color: white;
}
.abouttext p{
    font-size: 14px;
    color: rgb(221, 221, 221);
    padding: 5px;
}
.lastportion{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 5px;
}
.minilogo{
    width: 80px;
    height: 45px;
    position: relative;
    right: 50px;
}
.united{
    display: flex;
    gap: 5px;
}
.lastportion p, .united{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    border: 1px solid rgb(132,134,136);
    padding: 5px 20px;
    border-radius: 3px;
}
.lastportion h2{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 3px;
}
.bottompage{
    height: 80vh;
    background-color: rgb(19,26,34);
}
.services h2{
    text-transform: capitalize;
    color: rgb(221,221,221);
    font-size: 11px;
    line-height: 12.55px;
    font-weight: 400;
    padding: 2px;
}
.services p{
    text-transform: capitalize;
    color:rgb(153,153,153);
    line-height: 11px;
    font-size: 10px;
    font-weight: 400;
    width: 80px;
    padding: 2px;
}
.services1 h2{
    text-transform: capitalize;
    color: rgb(221,221,221);
    font-size: 11px;
    line-height: 12.55px;
    font-weight: 400;
    padding: 2px;
}
.services1 p{
    text-transform: capitalize;
    color:rgb(153,153,153);
    line-height: 11px;
    font-size: 10px;
    font-weight: 400;
    width: 80px;
    padding: 2px;
}
.services1{
    grid-column: 2/ span 1;
}
.servicesection{
    display: grid;
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: repeat(4, 80px);
    padding-left: 200px;
    padding-top: 70px;
}
.copyright{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    padding-top: 25px;
}
.copyright p{
    color: rgb(221, 221, 221);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
}
.copyright p:hover, .services p:hover, .services1 p:hover{
    text-decoration: underline;
}
.conditions{
    display: flex;
    gap: 20px;
    justify-content: center;
}